body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    padding-top: 50px;
}

.img-media {
  width: 100px;
  height: 100px;
}

.img-pequena {
  width: 70px;
  height: 70px;
}